@model Matrix90.Models.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last Name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label">Street Address</label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityAddress" class="control-label">City</label>
                <span asp-validation-for="CityAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateAddress" class="control-label">State</label>
                <input asp-for="StateAddress" class="form-control" />
                <span asp-validation-for="StateAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipAddress" class="control-label">Zip Code</label>
                <input asp-for="ZipAddress" class="form-control" />
                <span asp-validation-for="ZipAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrefferedMethodOfContact" class="control-label">Preffered Way Of Contact</label>
                <select asp-for="PrefferedMethodOfContact">
                    <option value="Text">Text</option>
                    <option value="Phone Call">Phone Call</option>
                    <option value="Email">Email</option>
                </select>
                <span asp-validation-for="PrefferedMethodOfContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestTimeToReach" class="control-label">Best Time To Reach You</label>
                <input asp-for="BestTimeToReach" class="form-control" />
                <span asp-validation-for="BestTimeToReach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FrontImage" class="control-label">Front Image of You</label>
                <input asp-for="FrontImage" class="form-control" />
                <span asp-validation-for="FrontImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackImage" class="control-label">Back Image of You</label>
                <input asp-for="BackImage" class="form-control" />
                <span asp-validation-for="BackImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileRight" class="control-label">Right Profile Image of You</label>
                <input asp-for="ProfileRight" class="form-control" />
                <span asp-validation-for="ProfileRight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileLeft" class="control-label">Left Profile Image of You</label>
                <input asp-for="ProfileLeft" class="form-control" />
                <span asp-validation-for="ProfileLeft" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
