@model Matrix90.Models.NutritionPlan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
   
</div>

<div class="card border-success mb-3" style="max-width: 100rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Success card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

<div class="card border-success mb-3" style="max-width: 100rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Success card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

<div>
   
    <a asp-action="Index">Back to List</a>
</div>
