@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}
<div> <br /></div>
<div> <br /></div>
<div><br /></div>
<div> <br /></div>
<div> <br /></div>
<div><br /></div>
<div class="container" style="text-align:center; "><img src="~/Images/logo.png" /></div>
<div> <br /></div>


<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

    </div>
</div>
